#background {
    background-color: black;
}

#dumbBackground {
    background-image: url("https://t3.ftcdn.net/jpg/01/84/70/82/360_F_184708212_OEq2Y6AqmiNSqSxwdPIUCVZDOCE1nlb2.jpg");
    background-size: cover;
    background-position: center;
}

#headAlign{
    text-align: center;
    color:aliceblue;
    padding-top: 20px;
}

.text {
    color:cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-shadow:
        -1px -1px 0 black, /* Top-left shadow */
        1px -1px 0 black,  /* Top-right shadow */
        -1px 1px 0 black,  /* Bottom-left shadow */
        1px 1px 0 black;   /* Bottom-right shadow */
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}